include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="shortcut icon" href="static/images/favicon.svg" type="image/x-icon")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
		//- link(rel="stylesheet" type='text/css' href="static/css/grid.css")

		block head
	
	body
		section.main-wrapper
			include ../modules/sidebar/sidebar

			section.content-wrapper
				include ../modules/header/header

				block content

				include ../modules/footer/footer
			

		//- script(src="static/js/lib/axios/axios.js")
		//- script(src="static/js/lib/imask/imask.js")
		script(src="static/js/bundle.js")
		block script



